@import '../variables.scss';

// Mixin 
@mixin button-text-style {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  line-height: 26px;
  color: #fff;
}

//Mixin with params
@mixin bordered-button($color, $width) {
  border: $width solid $color;
}

.button-basic {
  outline: none;
  width: 75px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px 50px;
  padding: 20px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px 0 0 0;
    label {
      text-align: left;
      width: 100px;
      color: blue;
    }
    input {
      outline: none;
    }
  }
  .button-container {
    margin: 20px 0 0 0;
    .submit {
      @include button-text-style;
      @extend .button-basic;
      margin: 0 0 0 10px;
      background-color: rgb(17, 182, 52);
      @include bordered-button(black, 2px);
    }
    .cancel {
      @include button-text-style;
      @extend .button-basic;
      background: rgb(224, 119, 101);
      @include bordered-button(gray, 2px);
    }
  }
}
