@import '../variables.scss';

.button-basic {
  outline: none;
  width: 75px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px 50px;
  padding: 20px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px 0 0 0;
    label {
      text-align: left;
      width: 100px;
      color: blue;
    }
    input {
      outline: none;
    }
  }
  .button-container {
    margin: 20px 0 0 0;
    .submit {
      @extend .button-basic;
      margin: 0 0 0 10px;
      background-color: rgb(17, 182, 52);
    }
    .cancel {
      @extend .button-basic;
      background: rgb(224, 119, 101);
    }
  }
}
