@import './variables.scss'; 

.App {
  font-family: sans-serif;
  text-align: center;
}
/* use the variables */
body {
  background-color: $primary;
}

/*nesting of styles*/
body {
  .App {
    color: $secondary;
    h1 {
      font-family: 'Courier New', Courier, monospace;
    }
  }
}
